 <head><link rel="stylesheet" href="/css/estilos.css"></head>
<body>
    

    <table border="1" >
    <tr>
        <th>Vacuna id</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Lugar recetado</th>
      <th>Veterinario_id</th>
      <th>Refugio id</th>
      <th>Guardar modificación</th>
    </tr>

  <% vacunas.forEach(vacuna => { %>
   
    <tr>
         <form action="/veterinario/modificar_vacuna/<%= vacuna.id %>" method="post">

        <td><%=vacuna.id%> </td>
        
        
        <td><input type="text" name="vacuna" value="<%= vacuna.vacuna %>" required></td>

        <td><input type="text" name="descripcion" value="<%= vacuna.descripcion %>" required></td> 
        
        <td><input type="text" name="lugar_recetado" value="<%= vacuna.lugar_recetado %>" ></td>

         <input type="hidden" name="id_veterinario" value="<%=vacuna.id_veterinario%>" >

        <input type="hidden" name="refugioId" value="<%=vacuna.refugio_id%>" >
        
        <td><%=vacuna.id_veterinario%></td>

        <td><%=vacuna.refugio_id%></td>
        
        
           
    <td> <button type="submit">Guardar cambios</button></td>
       
    </form>
</tr>

    
  <% }) %>
</table>


</body>
