<head><link rel="stylesheet" href="/css/estilos.css"></head></head>
  
  <div style="margin-bottom: 30px; border-bottom: 1px solid #ccc; padding-bottom: 20px;">
     

    <h2>Nombre: <%= usuario.nombre %> <%= usuario.apellido1 %> <%= usuario.apellido2 %></h2>
    <p>Usuario: <%= usuario.usuario %></p>
    <p>Edad: <%= usuario.edad %> años</p>
    <p>Salario: <%= usuario.salario %> </p>
    <p>Refugio: <%= usuario.refugio_id %> </p>
    <p>Documentos completos: <%= usuario.documentos_completos %> </p>

    <p><a href="/admin/modificar_admin_refugio_form/<%= usuario.id %>"><button type="button">Modificar</button> </a></p>
     
  

    <h3>Fotos:</h3>
    <% if (usuario.fotos.length > 0) { %>
      <div style="display:flex; gap:15px; flex-wrap:wrap;">
        <% usuario.fotos.forEach(img => { %>
          <img src="/<%= img.urlImagen %>"
               style="width:400px; height:400px; object-fit:cover; border-radius:8px;">
        <% }) %>
      </div>
    <% } else { %>
      <p>No hay fotos.</p>
    <% } %>


   

    <h3>Documentos:</h3>
    <% if (usuario.documentos.length > 0) { %>
      <ul>
        <% usuario.documentos.forEach(doc => { %>
          <li>
             <p>Nombre: <%=doc.nombre_dueno %></p>
            <p>Descripcion: <%=doc.descripcion %></p>
            <p>Fecha emisión: <%=doc.fecha_emision %></p>
            <p>Fecha subida: <%=doc.fecha_subida %></p>
            <a href="/<%= doc.url %>" target="_blank">Ver documento</a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No hay documentos.</p>
    <% } %>

    <h3>Direcciones:</h3>
    <% if (usuario.listaDirecciones.length > 0) { %>
      <ul>
        <% usuario.listaDirecciones.forEach(dir => { %>
          <li>
            <p>Direccion: <%= dir.direccion %></p>

          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No hay direcciones.</p>
    <% } %>

    <h3>Teléfonos:</h3>
    <% if (usuario.listaTelefonos.length > 0) { %>
      <ul>
        <% usuario.listaTelefonos.forEach(tel => { %>
          <li>
            <p>Número: <%= tel.celular %></p>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No hay teléfonos.</p>
    <% } %>

  </div>

